body {
  background-color: #f8f9fa;
}

.card {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-primary {
  width: 100%;
}

.table {
  text-align: center;
}

.table-dark th {
  background-color: #3d2c8d !important;
  color: white;
}

#displayCronometro {
  font-family: "Roboto Mono", monospace;
}
